.header
  .header__inner
    .header__main
      %h1.header__icon
        = link_to "/" do
          = image_tag "meigensyu.png", size: "", alt: "test1", class: "logo"
      %h1.header__content あなたを動かした名言はなんですか
      .header__seachbox
        .form
          %input{type:"text",class:"header__serchbox-input",placeholder:"キーワードから探す"}
          %button{type:"submit"}
            .header__seachbox-icon
              = image_tag "icon-search 1.png"
    .header__nav
      %ul.header__nav-listsleft
        %li.header__nav-listsleft-leftitem
          #category-area
            カテゴリ
            -# = render "layouts/category"
          .header__nav-tree-display
            %ul.header__nav-categorytree
              %li.header__nav-categorytree-item
      %ul.header__nav-listsright
        -if user_signed_in?
          %li.header__nav-listsright-loginitem
            = link_to destroy_user_session_path, method: :delete,id:'catBtn' do
              ログアウト
          %li.header__nav-listsright-loginitem    
            = current_user.name
            %ul.header__nav-listsright-brandsPulldown
          %li.header__nav-listsright-newitem
            = link_to user_path(current_user.id),id:'catBtn' do
              マイページ
        -else
          %li.header__nav-listsright-loginitem
            = link_to user_session_path,id:'catBtn' do
              ログイン
            %ul.header__nav-listsright-brandsPulldown
          %li.header__nav-listsright-newitem
            = link_to new_user_registration_path,id:'catBtn' do
              新規会員登録
